@import '../../variables.scss';

.listItem_container {
  width: 20%;
  padding: 10px;
}

.listItem_box {
  border: 1px solid $color-grey;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  // cursor: pointer;
  min-height: 480px;
  //   max-height: 520px;
  justify-content: space-between;
  align-items: flex-start;

  &:hover {
    box-shadow: 0 0 15px 0 rgb(0 0 0 / 20%);
  }
}

.listItem_imgBlock {
  //   height: 150px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;

  & img {
    width: 75%;
    margin: 0 auto;
  }
}

.listItem_textBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  width: 100%;

  & p {
    margin-bottom: 5px;
    font-size: 0.9rem;
  }

  & h1 {
    margin-bottom: 8px;
  }

  & h4 {
    font-size: 0.9rem;
  }
}

.detailsBtn {
  border-radius: 100px;
  border: none;
  cursor: pointer;
  background-color: $color-highlight;
  color: $color-font-secondary;
  font-weight: 700;
  width: 100%;
  padding: 12px;

  &:hover {
    background-color: $color-highlight-hover;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
}
