@import '../../variables.scss';

.listItem_container {
  width: 20%;
  padding: 10px;
}

.listItem_box {
  border: 1px solid $color-grey;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  & img {
    width: 200px;
  }
}
