@import '../../variables.scss';

.footer {
  height: 100px;
  width: 100%;
  background-color: $color-secondary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;

  & p {
    color: $color-grey;
    font-size: 0.8rem;
    width: 100%;
    text-align: center;
    margin: 0 auto 0;
  }

  &_nav {
    &_github {
      width: 25px;
      height: 25px;
      margin-right: 5px;
      margin-top: 10px;
    }

    &_linkedin {
      width: 25px;
      height: 25px;
    }
  }
}
