@import '../../variables.scss';

.detailsContainer {
  width: 70%;
  margin: 30px auto;
  height: 500px;
  display: flex;
  min-height: calc(100vh - 380px);

  &_imgContainer {
    width: 23%;

    & img {
      width: 100%;
    }
  }

  &_infoContainer {
    width: 54%;
    padding: 0 50px;

    & h1 {
      margin-bottom: 10px;
    }

    & h3 {
      margin-bottom: 50px;
    }

    & p {
      margin-bottom: 50px;
    }
  }

  .infoContainer_rate {
    display: flex;
    align-items: center;

    & h4 {
      font-weight: 400;
    }
  }

  .infoContainer_rateIcons {
    margin-left: 10px;

    & img {
      width: 25px;
      margin-left: 10px;
      cursor: pointer;

      &:hover {
        fill: $color-primary;
      }
    }
  }

  .infoContainer_upvoteBtn {
    border: none;
    background-color: transparent;
  }

  .infoContainer_downvoteBtn {
    border: none;
    background-color: transparent;
  }

  &_addToCartContainer {
    width: 23%;
  }

  .addToCart_backgroundWrapper {
    width: 100%;
    background-color: $color-secondary;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    justify-content: space-between;

    & button {
      background-color: #f7b535;
      border: none;
      border-radius: 100px;
      font-weight: 700;
      font-size: 1rem;
      text-decoration: none;
      padding: 16px;
      width: 100%;
      cursor: pointer;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

      &:hover {
        background-color: $color-highlight-action-hover;
      }
    }

    & p {
      font-size: 0.9rem;
    }
  }

  .addToCart_wrapper {
    & span {
      margin: 0 10px;
      font-size: 0.9rem;
    }

    & p {
      font-size: 0.9rem;
    }
  }
}
