$color-primary: #64c2c8;
$color-secondary: #f7f7f7;
$color-tertiary: #009ba5;

$color-active: #00bcc9;

$color-highlight: #2f2f2f;
$color-highlight-hover: #626262;
$color-highlight-action: #f7b535;

$color-background: #ffffff;

$color-font-primary: #2f2f2f;
$color-font-secondary: #ffffff;

$color-grey: #b8b8b8;
